.App {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}

.App h1 {
  color: rgb(120, 104, 230);
  font-size: 32px;
  line-height: 38px;
  font-weight: 800;
  -webkit-text-stroke: 1px rgba(97, 91, 91, 0.336);
  margin-bottom: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App li {
  list-style: none;
}

.App form {
  display: flex;
  justify-content: center;
}

.btn-primary {
  margin: 0 6px;
  color: #fff;
  background-color: rgb(120, 104, 230);
  border-color: rgb(120, 104, 230);
}

.btn-primary:hover,
.btn-primary:focus {
  color: #fff;
  background-color: rgba(121, 104, 230, 0.8);
  border-color: rgba(121, 104, 230, 0.8);
  box-shadow: 0 0 0 4px rgba(121, 104, 230, 0.5);
  outline: 0;
}

.btn-primary:active {
  color: #fff;
  background-color: rgb(121, 104, 230);
  border-color: rgb(121, 104, 230);
  box-shadow: 0 0 0 4px rgba(121, 104, 230, 0.5);
  outline: 0;
}

.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 4px rgb(121, 104, 230, 0.5);
}

.btn-success {
  margin: 0 6px 16px 0;
  color: #fff;
  background-color: rgb(100, 201, 207);
  border-color: rgb(100, 201, 207);
}

.btn-success:hover,
.btn-success:focus {
  color: #fff;
  background-color: rgba(100, 202, 207, 0.8);
  border-color: rgba(100, 202, 207, 0.8);
  box-shadow: 0 0 0 4px rgba(100, 202, 207, 0.4);
  outline: 0;
}

.btn-success:active {
  color: #fff;
  background-color: rgba(100, 202, 207);
  border-color: rgba(100, 202, 207);
  box-shadow: 0 0 0 4px rgba(100, 202, 207, 0.6);
  outline: 0;
}

.btn-check:active + .btn-success:focus,
.btn-check:checked + .btn-success:focus,
.btn-success.active:focus,
.btn-success:active:focus,
.show > .btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 4px rgba(100, 202, 207, 0.5);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
